<div class-"container marketing"
  <div class="row">
    <div class="col-md-6">
    <%= render partial: 'form', locals: {page: @page } %>
    </div>
    <div class="col-md-6">
    <%= render partial: 'form', locals: {page: @page } %>
    </div>
  </div>
</div>
