<div class="container marketing">
  <h1>Pages#index</h1>
  <img src="https://bloc-global-assets.s3.amazonaws.com/images-full-stack/projects/blocipedia/blocipedia_index.png" alt="edit page">
  <br><br>
  <%#if @user.page.count == !nil%>
    <%#= render @user.page %>
  <%#else%>
    <h2>Create your first page!</h2>
  <%#end%>
    <!--the link below should trigger the pages/new route and create a new page, then
take the user to the edit page associated with the new id-->
  <%= button_to "New Page", new_page_path%>
</div>
